/* colors */

$background-color: #9E9CA0;
$accent-color: #C1BD49;
$main-color: #F3F0F0;
$border-color: #B29F73;
$alter-color: #333336;

/* fonts */
$primary-font: Tahoma, sans-serif;

/* media */
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";